/* copy all this to a single line to "customvscodeuicss.css" in
settings.json */
body {
    counter-reset: tab;
}

.tabs-container .tab {
    counter-increment: tab;
}

.tabs-container .tab .monaco-icon-label:before{
    padding-right: 3px;
}

.tabs-container .tab:before {
    display: inline-block;
    content: counter(tab)'';
    font-size: 12px;
    min-width: 14px;
    height: 14px;
    background: #fff;
    color: #000;
    text-align: center;
    line-height: 14px;
    margin-top: 10px;
    margin-left: -5px;
    font-family: Impact;
    box-shadow: 1px 1px 1px #000;
    padding: 0 3px;
    box-sizing: border-box;
}
